html {
    scroll-behavior: smooth;
}

body {
    h1 {
        font-family: 'Bebas Neue', sans-serif;
        margin: 0;
        margin-top: 10vh;
        font-size: 6rem;
    }
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #ffff00;
    text-align: left;
    margin: 0;
}

hr {
    border: 2px solid #ffff00;
    width: 50vw;
}

p {
    font-family: 'Playfair Display', serif;
}

.landing {
    background-image: url(../../../public/Images/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 6rem;
        color: white;
        text-align: center;
    }

    p {
        font-family: 'Playfair Display', serif;
        color: white;
        width: 28vw;
        text-align: center;
        font-size: 1.8rem;
        transform: translate(0, -2vh);
    }

    .landing-button {
        width: 12vw;
        padding: 12px;
        border: 3px solid black;
        border-radius: 32px;
        background-color: #ffff00;
        transform: translate(0, -2vh);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 25px;
        text-align: center;
        cursor: pointer;
    }
}

.services {
    background-color: #262626;
    text-align: center;
    display: grid;
    place-content: center;
    color: white;
    font-size: 40px;

    .images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2vw;
        padding: 4rem;
    }

    .container {
        position: relative;
        text-align: center;
        color: white;

        .image {
            filter: blur(1px);
            -webkit-filter: blur(1px);
            transition: transform .2s;
            width: fit-content;
        }

        .image:hover {
            transform: scale(1.1);
        }
    }

      /* Centered text */
    .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue', sans-serif;
  }
}

.supplements {
    background-color: #262626;
    text-align: center;
    display: grid;
    place-content: center;
    color: white;
    font-size: 40px;

    .supp-text {
        width: 80vw;
    }

    .supp-logos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .supp-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.yellow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #ffff00;
    padding: 12px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    cursor: pointer;
    
}

.button-link {
    text-decoration: none;
}

.price-list {
    background-color: #262626;
    text-align: center;
    display: grid;
    place-content: center;
    color: white;
    font-size: 40px;

    .prices {
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
    }

    .prices-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .price-list-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        h1 {
            font-size: 4rem;
        }
    }

    .hero-home {
        overflow-x: hidden;
    }
    
    .landing {
        background-size: cover;

        h1 {
            font-size: 4rem;
        }

        p {
            width: 60vw;
        }

        .landing-button {
            width: 40vw;
        }
    }
    
    .services {
        flex-direction: column;
        
        .images {
            flex-direction: column;
        }
    
        .container {
            .image {
                width: 70vw;
            }
        }
    }

    .supplements {
        
        .supp-text {
            width: 100vw;
            font-size: 30px;
        }

        .supp-logos {
            flex-direction: column;
            width: 100vw;
            gap: 2vh;
        }

        .logo {
            width: 80vw;
        }

        .supp-button {
            margin-top: 5vh;
        }
    }

    .yellow-button {
        width: fit-content;
    }

    .price-list {
        font-size: 30px;
        padding: 20px;

        .program {
            width: 10vw;
        }

        .progg-price {
            margin-top: 8vh;
        }
    }

}