.policies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    color: white;

    h1 {
        font-size: 4rem;
    }
}

.policies2 {
    color: white;
    width: 50vw;
    font-size: 20px;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    .policies {
        h1 {
            font-size: 3rem;
        }
    }

    .policies2 {
        width: 80vw;
    }
}

@media only screen and (max-width: 600px) {
    .policies {
        h1 {
            font-size: 3rem;
        }
    }

    .policies2 {
        width: 80vw;
    }
}