body {
    background-color: #262626;
}

.trainer-info {
    color: white;
    padding-top: 10vh;

    .info-text {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    
    .trainer-text {
        width: 60vw;
    }
}

.trainer-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image {
    width: 70vw;
}

.service-prices2 {
    color: white;
    font-size: 40px;

    .prices-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .price-button {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.trainer-shop {
    display: flex;
    justify-content: center;
    text-align: center;
}

.trainer-shop-text {
    width: 60vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .trainer-info {
        .info-text {
            font-size: 1.5rem;
        }
        
        .trainer-text {
            width: 80vw;
        }
    }

    .service-prices2 {
        font-size: 1.5rem;
    }

    .trainer-shop-text {
        width: 80vw;
    }
}