.supp-landing {
    background-image: url(../../../public/Images/Supplement.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 6rem;
        color: white;
        text-align: center;
    }

    p {
        font-family: 'Playfair Display', serif;
        color: white;
        text-align: center;
        font-size: 1.8rem;
        transform: translate(0, -2vh);
    }
}

.supplements-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.carousel {
    padding-top: 20px;
    padding-bottom: 20px;

    p {
        font-size: 1.5rem;
    }

    li {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }
}

.carousel-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-supp {
    color: white;
    height: 100vh;
}

.shop-button {
    width: 5vw;
    font-size: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #ffff00;
}