h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 4rem;
}

p {
    font-family: 'Playfair Display', serif;
}

.massage {
    background-color: #262626;
}

.massage-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #262626;
    color: white;
    margin-top: 15vh;

    .massage-text {
        display: flex;
        flex-direction: row;
        gap: 8vw;
        padding: 20px;

        .image {
            width: 35vw;
        }
    }

    .text-info {
        width: 40vw;
        font-size: 2rem;
    } 
}

.massage-benefits {
    color: white;

    .benefits-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 40px;

        p {
            width: 60vw;
        }
    }

    .massage-image {
        width: 60vw;
        border-radius: 15px;
    }
}

.service-prices {
    color: white;
    font-size: 40px;

    .prices-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .price-button {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .massage-info {
        .massage-text {
            flex-direction: column;
            align-items: center;

            .image {
                width: 70vw;
            }
        }

        .text-info {
            width: 80vw;
            font-size: 1.5rem;
        }
    }

    .benefits-text {
        p {
            font-size: 1.5rem;
        }
    }

    .price-button {
        text-align: center;
    }
}