/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #262626;
    padding: 2px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    position: fixed;
    top: 0;
    width: calc(100% - 60px);
    z-index: 999;
    -webkit-box-shadow: 0px 10px 5px -1px rgba(255,255,0,1);
    -moz-box-shadow: 0px 10px 5px -1px rgba(255,255,0,1);
    box-shadow: 0px 5px 5px -1px rgba(255,255,0,1);

    .logo {
      width: 15vw;
    }
  }

  .header .logo-link:hover {
    background-color: transparent;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ffff00;
    color: black;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    display: flex;
    gap: 2vw;
  }

  .right-navlinks {
    float: right;
    display: flex;
    gap: 2vw;
  }

  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    font-family: 'Bebas Neue', 'sans-serif';
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ffff00;}
  
  .dropdown:hover .dropdown-content {display: flex; flex-direction: column; margin-top: 5vh;}
  
  .dropdown:hover .dropbtn {background-color: #ffff00; color: black;}

  /* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position:relative;
  width: 36px;
  height: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffff00;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #262626;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow-y: hidden;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  float: none !important;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 2px 30px;

    .logo {
      width: 35vw;
    }
  }
 
  .dropdown {
    display: none;
  }
  
  .right-navlinks {
    display: none;
  }
  
  .bm-burger-button{
    display: block;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    padding: 2px 30px;

    .logo {
      width: 45vw;
    }
  }
  
  .dropdown {
    display: none;
  }
  
  .right-navlinks {
    display: none;
  }
  
  .bm-burger-button{
    display: block;
  }
}