h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    text-align: center;
}

p {
    font-family: 'Playfair Display', serif;
}

.massage {
    background-color: #262626;
}

.massage-background {
    background-image: url(../../../public/Images/Massage-background2.png);
    height: 100vh;
}

.massage-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #262626;
    color: white;
    height: 80vh;

    .massage-text {
        display: flex;
        flex-direction: row;
        gap: 8vw;
        padding: 20px;

        .image {
            width: 35vw;
        }
    }

    .text-info {
        width: 40vw;
        font-size: 2rem;
    } 
}

.massage-benefits {
    color: white;
    height: 160vh;

    .benefits-text {
        display: flex;
        justify-content: center;
        font-size: 40px;

        p {
            width: 60vw;
        }
    }
}

.service-prices {
    color: white;
    font-size: 40px;
    height: 80vh;

    .prices-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .price-button {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}