/* Prices.scss */

.otsikko { /*alaotsikkojen väri*/
  color: #FFFF00;
}

.container2 {/*asettelua*/
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  font-size: 5vh;

  tr {/*tuote ja hinta*/
    display: flex;
    justify-content: space-between;
    width: 50vw;
    top: 4vh;
  }

  td {/*tuote ja hinta*/
    color: white;
    margin-top: 4vh;
    font-family: 'Playfair Display', serif;
  }
}


/* Table tyyli */
.tuote-hinta {
  color: white;
  display: flex;
  justify-content: left;
  font-size: 6vh;
  font-family: 'Bebas Neue', sans-serif;
}
.tuoteen-hinta {
  color: white;
  display: flex;
  justify-content: right;
  font-size: 6vh;
  font-family: 'Bebas Neue', sans-serif;
}
.rav-tuoteen-hinta {
  color: white;
  display: flex;
  justify-content: right;
  font-size: 6vh;
  font-family: 'Bebas Neue', sans-serif;
}
.tuote-hinta {
  text-align: left;
}

.paikka {
  margin-top: 2vh;
}

/* Price List Styles */
.price-list {
  background-color: #262626;
  text-align: center;
  display: grid;
  place-content: center;
  color: white;
  font-size: 40px;
  margin-top: 10vh;

  .price-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.PRp,
.RMp {
  color: white;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.price-texts {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 10vw 0 10vw;
}

@media only screen and (max-width: 1024px) {
 
  .container2 {
    display: flex;
    justify-content: center;
    margin-top: 2vh;

  
    tr {
      display: flex;
      justify-content: space-between;
      width: 70vw;
      top: 4vh;
    }
  
    td {
      color: white;
      margin-top: 4vh;
      font-family: 'Playfair Display', serif;
      font-size: 4vh;
      }
  }
}

@media only screen and (max-width: 600px) {
  body {
    hr{
      width: 75%;
    }
      h1 {
          font-size: 13vw;
      }

      .tuote-hinta {
        color: white;
        display: flex;
        justify-content: left;
        font-size: 4vh;
        font-family: 'Playfair Display', serif;
            }
      .tuoteen-hinta {
        color: white;
        display: flex;
        justify-content: right;
        font-size: 4vh;
        font-family: 'Playfair Display', serif;      }
      .rav-tuoteen-hinta {
        color: white;
        display: flex;
        justify-content: right;
        font-size: 4vh;
        font-family: 'Playfair Display', serif;
        margin-top: 5vh;
      }
      .price-texts {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 10vw 0 10vw;
      }
      .price-texts,
.RMp,
.Maksu,
.PRp,
.RMp {
  font-size: 4vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container2 {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  font-size: 4vh;

  tr {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    top: 4vh;
  }

  td {
    color: white;
    margin-top: 4vh;
    font-family: 'Playfair Display', serif;  }
}

      
  }


}