



/* styles.css */



.H-Body {
  background-color: #262626;
}

.otsikko {
  color: #FFFF00;
  
}
.ala-otsikko{
  color: #FFFF00;
  display: flex;
  padding-left: 24vw;
 }
.tuote {
  color: white;
  display: flex;
  justify-content: left;
  font-size: 4vh;
  font-family: Playfair Display;
}
.tuote-hinta{
  text-align: left;
}
.paikka {
  margin-top: 2vh;
}
.yellow-button
.hinta-container {
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  font-size: 5vh;

  tr{
    display: flex;
  justify-content: space-between;
  width: 50vw;
  top: 4vh;
  }
  td {
    color: white;
    margin-top: 4vh;
  }
}
.RMp,.Maksu{
  font-size: 5vh;
  display: flex;
  justify-content: center;
}


/*jäseenyydet*/
.hinta1{
  display: flex;
  justify-content: right;
  color: white;
  font-family: Playfair Display;
}
.hinta2 {
  
  color: white;
  float: right;
  font-family: Playfair Display;
}

.hinta3 {
  margin-left: 21vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
/*personaltrainer*/
.PRhintaF{
  margin-left: 36vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
.PRhinta{
  margin-left: 36vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
.PRhinta2{
  margin-left: 95vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
.PRhinta3{
  margin-left: 93vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
.PRp, .RMp{
  color:white;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;

}
.price-texts{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 10vw 0 10vw; 
}

.TRhinta{
  margin-top: 3vh;
    margin-left: 41vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
.TRhinta2{
  margin-top: 3vh;
    margin-left: 57vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
.TRhinta3{
  margin-top: 3vh;
    margin-left: 67vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
.RMhinta{
    margin-left: 72vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
.RMhinta2{
    margin-left: 70vh; /* Adjust this value as needed */
  color: white;
  font-family: Playfair Display;
}
.Hhinta{
  margin-left: 92vh; /* Adjust this value as needed */
color: white;
font-family: Playfair Display;
}
.price-list {
  background-color: #262626;
  text-align: center;
  display: grid;
  place-content: center;
  color: white;
  font-size: 40px;
  margin-top: 10vh;

  .price-list-button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .yellow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #ffff00;
    padding: 12px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
  }
}

.nt {
  font-family: 'Playfair Display', serif;
  color: white;
  width: 28vw;
  text-align: center;
  font-size: 1.8rem;
  transform: translate(0, -2vh);
}