/* Prices.scss */

/* General Styles */
.H-Body {
  background-color: #262626;
}

.otsikko {
  color: #FFFF00;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  font-size: 5vh;

  tr {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    top: 4vh;
  }

  td {
    color: white;
    margin-top: 4vh;
    font-family: 'Playfair Display', serif;
  }
}

.price-texts,
.RMp,
.Maksu,
.PRp,
.RMp {
  font-size: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Header Styles */
.H_Header {
  margin-top: 10vh;
  text-align: center;
  color: white;
}

/* Table Styles */
.tuote-hinta {
  color: white;
  display: flex;
  justify-content: left;
  font-size: 6vh;
  font-family: 'Bebas Neue', sans-serif;
}
.tuoteen-hinta {
  color: white;
  display: flex;
  justify-content: right;
  font-size: 6vh;
  font-family: 'Bebas Neue', sans-serif;
}
.rav-tuoteen-hinta {
  color: white;
  display: flex;
  justify-content: right;
  font-size: 6vh;
  font-family: 'Bebas Neue', sans-serif;
}
.tuote-hinta {
  text-align: left;
}

.paikka {
  margin-top: 2vh;
}

/* Price List Styles */
.price-list {
  background-color: #262626;
  text-align: center;
  display: grid;
  place-content: center;
  color: white;
  font-size: 40px;
  margin-top: 10vh;

  .price-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.nt {
  font-family: 'Playfair Display', serif;
  color: white;
  width: 28vw;
  text-align: center;
  font-size: 1.8rem;
  transform: translate(0, -2vh);
}

/* Personal Trainer Styles */
.personaltrainer {
  margin-top: 3vh;
}

.PRhintaF,
.PRhinta,
.PRhinta2,
.PRhinta3 {
  margin-left: 36vh;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}

.PRp,
.RMp {
  color: white;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.price-texts {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 10vw 0 10vw;
}

/* Treeniohjelma Styles */
.TRhinta,
.TRhinta2,
.TRhinta3,
.RMhinta,
.RMhinta2,
.Hhinta {
  margin-top: 3vh;
  margin-left: 41vh;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}

/* Footer Styles */
.Footer {
  /* Add styles for the Footer component if needed */
}
@media only screen and (max-width: 1024px) {
 
  .container2 {
    display: flex;
    justify-content: center;
    margin-top: 2vh;

  
    tr {
      display: flex;
      justify-content: space-between;
      width: 70vw;
      top: 4vh;
    }
  
    td {
      color: white;
      margin-top: 4vh;
      font-family: 'Playfair Display', serif;
      font-size: 4vh;
      }
  }
}

@media only screen and (max-width: 600px) {
  body {
    hr{
      width: 75%;
    }
      h1 {
          font-size: 13vw;
      }

      .tuote-hinta {
        color: white;
        display: flex;
        justify-content: left;
        font-size: 4vh;
        font-family: 'Playfair Display', serif;
            }
      .tuoteen-hinta {
        color: white;
        display: flex;
        justify-content: right;
        font-size: 4vh;
        font-family: 'Playfair Display', serif;      }
      .rav-tuoteen-hinta {
        color: white;
        display: flex;
        justify-content: right;
        font-size: 4vh;
        font-family: 'Playfair Display', serif;
        margin-top: 5vh;
      }
      .price-texts {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 10vw 0 10vw;
      }
      .price-texts,
.RMp,
.Maksu,
.PRp,
.RMp {
  font-size: 4vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container2 {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  font-size: 4vh;

  tr {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    top: 4vh;
  }

  td {
    color: white;
    margin-top: 4vh;
    font-family: 'Playfair Display', serif;  }
}

      
  }


}