.body{
    background-color: #262626;

    margin-top: 25vh;
}

.text{
    font-size: 5vh;
    display: flex;
    font-family: Playfair Display;
    color: #ffffff;
    text-align-last: left;
    margin:0  25vw 0 25vw;
}



.icons{
    display: flex;
    flex-direction: column;
    padding-top: 25vh;

  }
  
.map,.mail,.phone{
    font-size: 5vh;
    text-align-last: left;
    float: left;
    color: #ffffff;
    margin-top: 3vw;
}
.tiedot{
    font-size: 4vh;
    display: flex;
    font-family: Playfair Display;
    color: #ffffff;
    text-align-last: left;
    margin: 5vh 0 0 9vh;
    width: 20vw;
}
.dmap,.dmail,.dphone{
    width:30vw;
}

input{
    font-size: 3vh;
}

.fname{
    font-size: 4vh;
}
#message{
    resize: vertical;
}
.form-nimet {
    display: flex;
    gap: 20px;
  }
  
  .form-nimi {
    width: 50%; /* Adjust the width as needed */
  }

  .form-nimi2 {
    width: 50%; /* Adjust the width as needed */
  }
  .forms {
    display: flex;
    justify-content: center;

  }

  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    .con-price-list {
        background-color: #262626;
        text-align: center;
        display: grid;
        place-content: center;
        color: white;
        font-size: 40px;
        margin-top: 0vh;
      
        .con-price-list-button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .con-yellow-button {
          display: flex;
          justify-content: center;
          width: 12vw;
          border: 3px solid black;
          border-radius: 25px;
          background-color: #ffff00;
          padding: 12px;
          font-family: 'Bebas Neue', sans-serif;
          font-size: 25px;
        }
      }
      
  }
  .tyhjennä{
    text-align: center;
    justify-content: left;
  }
  .form-napit{
    display: flex;
    justify-content: space-between;
    gap: 16vw;
    margin-top: 10px;
  }
  input, textarea {
    background-color: #3a3939;
    border: 2px solid #FFFF00;
    border-radius: 12px;
    padding: 5px;
    margin-top: 20px;
  }
  
  .form-contact {
    display: flex;
    justify-content: space-evenly;
  }
  